Integration RSS, Google Sheets.blueprint.json
{
    "name": "Integration RSS, Google Sheets",
    "flow": [
        {
            "id": 1,
            "module": "rss:ActionReadArticles",
            "version": 4,
            "parameters": {
                "include": []
            },
            "mapper": {
                "url": "https://pubmed.ncbi.nlm.nih.gov/rss/search/1DEy1fmgzjyed_WFyKGZndQYprbTiG94XEocznDu6PmfzZJQdx/?limit=50&utm_campaign=pubmed-2&fc=20260302172502",
                "gzip": true,
                "password": "",
                "username": "",
                "maxResults": "25",
                "filterDateTo": "",
                "filterDateFrom": ""
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {},
                "parameters": [
                    {
                        "name": "include",
                        "type": "select",
                        "label": "Process RSS fields",
                        "multiple": true,
                        "validate": {
                            "enum": [
                                "google-merchant-center",
                                "itunes"
                            ]
                        }
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "username",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "password",
                        "type": "text",
                        "label": "Password"
                    },
                    {
                        "name": "filterDateFrom",
                        "type": "date",
                        "label": "Date from"
                    },
                    {
                        "name": "filterDateTo",
                        "type": "date",
                        "label": "Date to "
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of returned items",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description"
                    },
                    {
                        "name": "summary",
                        "type": "text",
                        "label": "Summary"
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author"
                    },
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL"
                    },
                    {
                        "name": "dateUpdated",
                        "type": "date",
                        "label": "Date updated"
                    },
                    {
                        "name": "dateCreated",
                        "type": "date",
                        "label": "Date created"
                    },
                    {
                        "name": "comments",
                        "type": "url",
                        "label": "Comments"
                    },
                    {
                        "name": "image",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Image"
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text"
                        },
                        "type": "array",
                        "label": "Categories"
                    },
                    {
                        "name": "source",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Name"
                            },
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            }
                        ],
                        "type": "collection",
                        "label": "Source"
                    },
                    {
                        "name": "enclosures",
                        "spec": [
                            {
                                "name": "url",
                                "type": "url",
                                "label": "URL"
                            },
                            {
                                "name": "type",
                                "type": "text",
                                "label": "Type"
                            },
                            {
                                "name": "length",
                                "type": "number",
                                "label": "Length"
                            }
                        ],
                        "type": "array",
                        "label": "Enclosures"
                    },
                    {
                        "help": "Other RSS fields. All values are in text format.",
                        "name": "rssFields",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "link",
                                "type": "text",
                                "label": "link"
                            },
                            {
                                "name": "description",
                                "type": "text",
                                "label": "description"
                            },
                            {
                                "name": "guid",
                                "type": "text",
                                "label": "guid"
                            },
                            {
                                "name": "pubdate",
                                "type": "text",
                                "label": "pubdate"
                            }
                        ],
                        "type": "collection",
                        "label": "RSS fields"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5325415
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "W",
                            "b": "{{1.url}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "Inflammasome_Papers",
                "sortOrder": "asc",
                "spreadsheetId": "1u4RP2_CEItVY8dAvmKkrseZTJW_1aQu3lXddBv7DF1c",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose",
                            "label": "Empty"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Inflammasome_Papers"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "Inflammasome_Research_Intelligence"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (bennejmaamina@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Paper_ID (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Date_Added (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Title (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Authors_Year (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Journal (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Abstract (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "DOI (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "Species (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "Endothelial_Type (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "Vascular_Subtype_Distinguished (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "Inflammasome_Sensor (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "Activation_Stimulus (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "Cytokines_Measured (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "Pyroptosis_Assessed (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "Study_Context (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "Disease_Context (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "Key_Findings_1sentence (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "Relevance_To_PhD_Score (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "Risk_Flags (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "Human_Verified (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "Notes (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "LLM_JSON_Output (V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "PubMed_Link (W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "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 (AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 8,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "filter": {
                "name": "Only new papers",
                "conditions": [
                    [
                        {
                            "a": "{{3.`__IMTLENGTH__`}}",
                            "b": "0",
                            "o": "number:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "url": "https://openrouter.ai/api/v1/chat/completions",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer 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"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/json"
                    },
                    {
                        "name": "HTTP-Referer",
                        "value": "https://make.com"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "dataStructure",
                "bodyDataStructure": 324891,
                "dataStructureBodyContent": {
                    "model": "openai/gpt-4o-mini",
                    "temperature": "0",
                    "messages": [
                        {
                            "role": "user",
                            "content": "You are a JSON generator.\n\nReturn ONLY valid JSON.\nDo NOT include markdown.\nDo NOT include ``` or the word json.\nThe response must start with { and end with }.\nIf you include anything else, the output is invalid.\n\nExtract structured information from the following biomedical abstract.\n\nFields:\nSpecies\nEndothelial_Type\nVascular_Subtype_Distinguished\nInflammasome_Sensor\nActivation_Stimulus\nCytokines_Measured\nPyroptosis_Assessed\nStudy_Context\nDisease_Context\nKey_Findings_1sentence\nRisk_Flags\nRelevance_To_PhD_Score\n\nFor each field, you MUST use only the allowed values below.\nIf information is not explicitly stated, use exactly: unspecified\n\nAllowed values:\n\nSpecies:\n- human\n- mouse\n- rat\n- mixed\n- other\n- unspecified\n\nEndothelial_Type:\n- vascular_endothelial_cell\n- microvascular_endothelial_cell\n- arterial_endothelial_cell\n- venous_endothelial_cell\n- lymphatic_endothelial_cell\n- unspecified\n- HUVECs\n- aortic_endothelial_cell\n- HDMECs\n\nVascular_Subtype_Distinguished:\n- arterial\n- venous\n- lymphatic\n- arterial+venous\n- multiple\n- unspecified\n- microvascular\n\nInflammasome_Sensor:\n- NLRP3\n- NLRP1\n- CARD8\n- AIM2\n- multiple\n- unspecified\n\nPyroptosis_Assessed:\n- yes\n- no\n- unspecified\n\nStudy_Context:\n- in vivo\n- in vitro\n- in situ\n- review\n- clinical\n- unspecified\n- other\n\nDisease_Context:\n- psoriasis\n- hidradenitis suppurativa\n- VEXAS\n- healthy model \n- other inflammatory\n- none\n- unspecified\n\nRelevance_To_PhD_Score:\n- 1\n- 2\n- 3\n- 4\n- 5\n\nScore how relevant the study is to endothelial inflammasome biology.\n5 = directly studying endothelial inflammasome activation\n4 = strong overlap in pathways\n3 = general inflammasome biology\n2 = weak relation\n1 = unrelated\n\nUse lowercase only.\nDo NOT invent new categories.\n\nAbstract:{{1.summary}}"
                        }
                    ],
                    "response_format": {
                        "type": "json_object"
                    }
                }
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null,
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "Data structureDefine the JSON body with a data structure to map or enter values for each key. JSON reserved characters are escaped automatically."
                        },
                        "bodyDataStructure": {
                            "label": "My data structure"
                        },
                        "dataStructureBodyContent": {
                            "nested": {
                                "messages": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "bodyDataStructure",
                        "type": "udt",
                        "label": "Body structure",
                        "required": true
                    },
                    {
                        "name": "dataStructureBodyContent",
                        "type": "collection",
                        "label": "Body content",
                        "spec": [
                            {
                                "name": "model",
                                "type": "text",
                                "label": "Model"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature"
                            },
                            {
                                "name": "messages",
                                "type": "array",
                                "label": "Messages",
                                "spec": {
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "label": null,
                                            "type": "text"
                                        },
                                        {
                                            "name": "content",
                                            "label": null,
                                            "type": "text"
                                        }
                                    ],
                                    "name": "value"
                                }
                            },
                            {
                                "name": "response_format",
                                "type": "collection",
                                "label": null,
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "text",
                                        "label": null
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "clean_json",
                "scope": "roundtrip",
                "value": "{{trim(replace(replace(8.data.choices[].message.content; \"\"\"```json\"\"\"; \"\"); \"\"\"```\"\"\"; \"\"))}}"
            },
            "metadata": {
                "designer": {
                    "x": 908,
                    "y": 4
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "clean_json",
                        "type": "any",
                        "label": "clean_json"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 324798
            },
            "mapper": {
                "json": "{{15.clean_json}}"
            },
            "metadata": {
                "designer": {
                    "x": 1217,
                    "y": 6
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "My data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "Species",
                        "label": "Species",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Endothelial_Type",
                        "label": "Endothelial type",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Vascular_Subtype_Distinguished",
                        "label": "Vascular subtype distinguished",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Inflammasome_Sensor",
                        "label": "Inflammasome sensor",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Activation_Stimulus",
                        "label": "Activation stimulus",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Cytokines_Measured",
                        "label": "Cytokines measured",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Pyroptosis_Assessed",
                        "label": "Pyroptosis assessed",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Study_Context",
                        "label": "Study context",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Disease_Context",
                        "label": "Disease context",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Key_Findings_1sentence",
                        "label": "Key findings 1sentence",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Risk_Flags",
                        "label": "Risk flags",
                        "help": "",
                        "type": "text",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "Relevance_To_PhD_Score",
                        "label": null,
                        "help": "",
                        "type": "number",
                        "default": null,
                        "required": false
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5325415
            },
            "mapper": {
                "mode": "select",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "from": "drive",
                "spreadsheetId": "/1u4RP2_CEItVY8dAvmKkrseZTJW_1aQu3lXddBv7DF1c",
                "sheetId": "Inflammasome_Papers",
                "includesHeaders": true,
                "useColumnHeaders": false,
                "values": {
                    "0": "{{1.rssFields.guid}}",
                    "1": "{{formatDate(now; \"YYYY-MM-DD\")}}",
                    "2": "{{1.title}}",
                    "3": "{{1.author}}",
                    "4": "{{formatDate(1.dateCreated; \"YYYY-MM-DD\")}}",
                    "5": "{{1.summary}}",
                    "6": "{{12.Species}}",
                    "7": "{{12.Endothelial_Type}}",
                    "8": "{{12.Vascular_Subtype_Distinguished}}",
                    "9": "{{12.Inflammasome_Sensor}}",
                    "10": "{{12.Activation_Stimulus}}",
                    "11": "{{12.Cytokines_Measured}}",
                    "12": "{{12.Pyroptosis_Assessed}}",
                    "13": "{{12.Study_Context}}",
                    "14": "{{12.Disease_Context}}",
                    "15": "{{12.Key_Findings_1sentence}}",
                    "16": "{{12.Relevance_To_PhD_Score}}",
                    "17": "{{12.Risk_Flags}}",
                    "21": "{{1.url}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1504,
                    "y": 7
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (bennejmaamina@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Search by path"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "from": {
                            "label": "My Drive"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Inflammasome_Research_Intelligence"
                            ]
                        },
                        "sheetId": {
                            "label": "Inflammasome_Papers"
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "useColumnHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "Paper_ID (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "Date_Added (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "Title (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "Authors (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "Date_Published (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "Abstract (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "Species (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "Endothelial_Type (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "Vascular_Subtype_Distinguished (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "Inflammasome_Sensor (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "Activation_Stimulus (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "Cytokines_Measured (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "Pyroptosis_Assessed (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "Study_Context (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "Disease_Context (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "Key_Findings_1sentence (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Relevance_To_PhD_Score (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "Risk_Flags (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "Human_Verified (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "Notes (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "LLM_JSON_Output (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "PubMed_Link (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "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 (Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "Paper_ID",
                                                "Date_Added",
                                                "Title",
                                                "Authors",
                                                "Date_Published",
                                                "Abstract",
                                                "Species",
                                                "Endothelial_Type",
                                                "Vascular_Subtype_Distinguished",
                                                "Inflammasome_Sensor",
                                                "Activation_Stimulus",
                                                "Cytokines_Measured",
                                                "Pyroptosis_Assessed",
                                                "Study_Context",
                                                "Disease_Context",
                                                "Key_Findings_1sentence",
                                                "Relevance_To_PhD_Score",
                                                "Risk_Flags",
                                                "Human_Verified",
                                                "Notes",
                                                "LLM_JSON_Output",
                                                "PubMed_Link",
                                                "",
                                                "",
                                                "",
                                                "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"
                                            ]
                                        ]
                                    ]
                                }
                            ],
                            "label": "No"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "Paper_ID",
                                    "Date_Added",
                                    "Title",
                                    "Authors",
                                    "Date_Published",
                                    "Abstract",
                                    "Species",
                                    "Endothelial_Type",
                                    "Vascular_Subtype_Distinguished",
                                    "Inflammasome_Sensor",
                                    "Activation_Stimulus",
                                    "Cytokines_Measured",
                                    "Pyroptosis_Assessed",
                                    "Study_Context",
                                    "Disease_Context",
                                    "Key_Findings_1sentence",
                                    "Relevance_To_PhD_Score",
                                    "Risk_Flags",
                                    "Human_Verified",
                                    "Notes",
                                    "LLM_JSON_Output",
                                    "PubMed_Link",
                                    "",
                                    "",
                                    "",
                                    "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"
                                ]
                            ]
                        ],
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "Paper_ID (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "Date_Added (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "Title (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "Authors (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "Date_Published (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "Abstract (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "Species (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "Endothelial_Type (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "Vascular_Subtype_Distinguished (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "Inflammasome_Sensor (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "Activation_Stimulus (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "Cytokines_Measured (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "Pyroptosis_Assessed (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "Study_Context (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "Disease_Context (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "Key_Findings_1sentence (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Relevance_To_PhD_Score (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "Risk_Flags (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "Human_Verified (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "Notes (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "LLM_JSON_Output (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "PubMed_Link (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "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 (Z)"
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}